{
  "openapi": "3.1.0",
  "info": {
    "title": "Speech Revolutions API",
    "version": "1.0.0",
    "summary": "Batch speech-to-text with speaker diarization and word-level timestamps.",
    "description": "Batch transcription API. Submit audio, get back a transcript with word-level timestamps and diarized speaker turns, in any of six output formats.\n\nThis document is written and maintained by hand against the documented, public surface. It deliberately omits internal routes. Every field here is checked against the running service; where behaviour and this document disagree, the service is right and this is a bug — report it.\n\nSend audio up to 200 MB to `POST /api/v1/transcribe` and read the transcript straight back on the same connection. For larger files (up to 10 GB) and for audio at a URL, use an official SDK, which uploads the file for you. Every job, however it was started, can be followed with `GET /api/v1/jobs/{job_id}/stream`, fetched with `GET /api/v1/jobs/{job_id}`, listed with `GET /api/v1/jobs`, and cancelled with `POST /api/v1/jobs/cancel`.",
    "termsOfService": "https://www.speechrevolutions.com/terms",
    "contact": {
      "name": "Speech Revolutions",
      "url": "https://docs.speechrevolutions.com",
      "email": "support@speechrevolutions.com"
    },
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.speechrevolutions.com",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "description": "Documentation",
    "url": "https://docs.speechrevolutions.com"
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "Status, progress, listing and cancellation."
    },
    {
      "name": "Transcribe",
      "description": "One-shot streaming upload for shells and scripts."
    }
  ],
  "paths": {
    "/api/v1/jobs": {
      "get": {
        "operationId": "listJobs",
        "tags": [
          "Jobs"
        ],
        "summary": "List recent jobs, newest first",
        "description": "Cursor-paginated. Pass the returned `next_before` as `before` to get the next page; it is null on the last page. Rate limit: 120 requests per minute.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Maximum jobs to return."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a previous page's `next_before`."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListJobsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/{job_id}": {
      "get": {
        "operationId": "getJob",
        "tags": [
          "Jobs"
        ],
        "summary": "Retrieve one job",
        "description": "Poll this if you are not using the SSE stream. Rate limit: 120 requests per minute.",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "The job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/{job_id}/stream": {
      "get": {
        "operationId": "streamJobProgress",
        "tags": [
          "Jobs"
        ],
        "summary": "Server-sent progress events for a job",
        "description": "An SSE stream of progress events, ending when the job completes or fails. Steps are `preprocess`, `chunk:N` and `aggregation`, each reporting `completed` out of `total`. Rate limit: 120 requests per minute.\n\nProgress is best effort: when the stream pool is saturated the connection is still accepted and sends `waiting` heartbeats with an ETA rather than refusing.",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "An event stream.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: progress\ndata: {\"step\": \"chunk:3\", \"completed\": 3, \"total\": 8}\n\nevent: completed\ndata: {\"job_id\": \"7c1f...\", \"download_url\": \"https://...\"}\n\n"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/cancel": {
      "post": {
        "operationId": "cancelJob",
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel a job",
        "description": "Rate limit: 30 requests per minute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobIdBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/check-failed": {
      "post": {
        "operationId": "checkFailedJobs",
        "tags": [
          "Jobs"
        ],
        "summary": "Check many jobs for failure in one call",
        "description": "Returns one boolean per submitted id, in the same order. Rate limit: 60 requests per minute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckFailedJobsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One boolean per job id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckFailedJobsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/transcribe": {
      "post": {
        "operationId": "transcribe",
        "tags": [
          "Transcribe"
        ],
        "summary": "Stream audio in, get the transcript back",
        "description": "One shot: the request body is the audio itself and the response is an SSE stream ending in the transcript. Intended for shells and simple scripts; files above 200 MB belong on the upload routes. Rate limit: 120 requests per minute.\n\nThe first event is `accepted` and carries the `job_id` and a `download_url`, emitted before any waiting — so a caller whose connection drops can still retrieve the job it has been billed for. The id is also mirrored in the `X-Job-Id` response header.",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Model"
            }
          },
          {
            "name": "output_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OutputType"
            }
          },
          {
            "name": "word_timestamps",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "speaker_labels",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "nltk",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Punctuation and sentence segmentation."
          },
          {
            "name": "custom_vocabulary",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated domain terms to bias towards. A query string cannot carry a JSON array, so this route takes the list as one comma-separated string.",
            "example": "Kubernetes,Grafana,Zephyr"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 639-1 code of the spoken language, from Whisper's 99-language set (e.g. `en`, `ru`, `de`). Omit it, or pass `auto`, for automatic language detection — the default, which also handles audio that switches language mid-file. When set, detection is skipped and the whole file is transcribed in that language. Pinning the wrong language makes the model translate into it (Russian audio pinned to `en` comes back as an English translation), and disables mid-file language switching. An unsupported code returns 422 with a message naming the bad value.",
            "example": "en"
          },
          {
            "name": "callback_url",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Webhook to POST on completion or permanent failure."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The audio bytes.",
          "content": {
            "audio/mpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/wav": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mp4": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/ogg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/flac": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "video/mp4": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An event stream ending in the transcript.",
            "headers": {
              "X-Job-Id": {
                "description": "The job id, also sent in the `accepted` event.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: accepted\ndata: {\"job_id\": \"7c1f...\", \"download_url\": \"https://...\"}\n\nevent: transcript\ndata: {\"text\": \"Hi there\", \"words\": [...]}\n\n"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "An API key from the console, of the form `stt_` followed by 64 hex characters. Send it on every request. There is no OAuth flow and no scopes: a key carries the full permissions of the account that owns it, so treat it as a server-side secret and never ship it to a browser."
      }
    },
    "parameters": {
      "JobId": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "Status": {
        "description": "Accepted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "The request was understood but cannot be acted on — for example, completing an upload whose bytes never arrived.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, malformed or revoked API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "detail": "Unauthorized"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "The account is out of credit. Top up, or turn on auto-recharge, and retry. Reads and cancellations keep working.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "No such job for this account.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The file exceeds the limit for this route: 10 GB through the upload routes, 200 MB streaming to `/api/v1/transcribe`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "A field is missing or the wrong type. The body names the offending field.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "example": {
              "detail": [
                {
                  "type": "missing",
                  "loc": [
                    "header",
                    "X-API-Key"
                  ],
                  "msg": "Field required",
                  "input": null
                }
              ]
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests for this endpoint. Back off and retry; the official SDKs do this for you.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Model": {
        "type": "string",
        "enum": [
          "zephyr"
        ],
        "default": "zephyr",
        "description": "The transcription model. One today."
      },
      "OutputType": {
        "type": "string",
        "enum": [
          "json",
          "txt",
          "srt",
          "vtt",
          "docx",
          "pdf"
        ],
        "default": "json",
        "description": "Format of the stored transcript at `download_url`."
      },
      "JobIdBody": {
        "type": "object",
        "required": [
          "job_id"
        ],
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          }
        }
      },
      "GetJobResponse": {
        "type": "object",
        "required": [
          "job_id",
          "status"
        ],
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "failed"
            ]
          },
          "download_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Present once status is `completed`."
          },
          "failed_stage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Which stage failed, when status is `failed`."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Why it failed, when status is `failed`."
          }
        }
      },
      "ListJobsResponse": {
        "type": "object",
        "required": [
          "jobs"
        ],
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "job_id",
                "created_at"
              ],
              "properties": {
                "job_id": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "next_before": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor for the next page, or null on the last page."
          }
        }
      },
      "CheckFailedJobsRequest": {
        "type": "object",
        "required": [
          "job_ids"
        ],
        "properties": {
          "job_ids": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "CheckFailedJobsResponse": {
        "type": "object",
        "required": [
          "failed_jobs"
        ],
        "properties": {
          "failed_jobs": {
            "type": "array",
            "items": {
              "type": "boolean"
            },
            "description": "One per submitted id, in the same order."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "loc": {
                  "type": "array",
                  "items": {
                    "type": [
                      "string",
                      "integer"
                    ]
                  }
                },
                "msg": {
                  "type": "string"
                },
                "input": {}
              }
            }
          }
        }
      }
    }
  }
}
