{
  "openapi": "3.1.0",
  "info": {
    "title": "Speech Revolutions API",
    "version": "1.0.0",
    "summary": "Batch speech-to-text with speaker diarization and word-level timestamps.",
    "description": "Batch transcription API. Submit audio, get back a transcript with word-level timestamps and diarized speaker turns, in any of six output formats.\n\nIf the API behaves differently from this document, report it as a bug.\n\nSend audio up to 200 MB to `POST /api/v1/transcribe` and read the transcript straight back on the same connection. For larger files (up to 10 GB) and for audio at a URL, use an official SDK, which uploads the file for you. Every job, however it was started, can be followed with `GET /api/v1/jobs/{job_id}/stream`, fetched with `GET /api/v1/jobs/{job_id}`, listed with `GET /api/v1/jobs`, and cancelled with `POST /api/v1/jobs/cancel`.",
    "termsOfService": "https://www.speechrevolutions.com/terms",
    "contact": {
      "name": "Speech Revolutions",
      "url": "https://docs.speechrevolutions.com",
      "email": "support@speechrevolutions.com"
    },
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.speechrevolutions.com",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "description": "Documentation",
    "url": "https://docs.speechrevolutions.com"
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "Status, progress, listing and cancellation."
    },
    {
      "name": "Transcribe",
      "description": "One-shot streaming upload for shells and scripts."
    }
  ],
  "paths": {
    "/api/v1/jobs": {
      "get": {
        "operationId": "listJobs",
        "tags": [
          "Jobs"
        ],
        "summary": "List recent jobs, newest first",
        "description": "Cursor-paginated. Pass the returned `next_before` as `before` to get the next page; it is null on the last page. Rate limit: 120 requests per minute.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Maximum jobs to return."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor from a previous page's `next_before`."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListJobsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/{job_id}": {
      "get": {
        "operationId": "getJob",
        "tags": [
          "Jobs"
        ],
        "summary": "Retrieve one job",
        "description": "Poll this if you are not using the SSE stream. Rate limit: 120 requests per minute.",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "The job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/{job_id}/stream": {
      "get": {
        "operationId": "streamJobProgress",
        "tags": [
          "Jobs"
        ],
        "summary": "Server-sent progress events for a job",
        "description": "An SSE stream of progress events, ending with one terminal `completed` (data: `{\"download_url\": ...}`) or `failed` (data: `{\"step\": ..., \"reason\": ...}`) event. Steps are `preprocess`, `chunk:N` and `aggregation`. Each event reports `completed` out of `total` and is sent when a step finishes, so the first event has `completed` >= 1. Files under about 3 MiB skip `preprocess` and may send no progress event before `completed`. Each event has an `id`; send it back as `Last-Event-ID` when you reconnect. Rate limit: 120 requests per minute.\n\nWhen the stream pool is saturated, the request returns 503. Poll `GET /api/v1/jobs/{job_id}` instead, or retry.",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "An event stream.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "id: 1791179526032-0\nevent: progress\ndata: {\"completed\": 1, \"total\": 7, \"step\": \"preprocess\"}\n\nid: 1791179533242-0\nevent: progress\ndata: {\"completed\": 2, \"total\": 7, \"step\": \"chunk:0\"}\n\nid: 1791179547620-0\nevent: progress\ndata: {\"completed\": 7, \"total\": 7, \"step\": \"aggregation\"}\n\nid: 1791179547725-0\nevent: completed\ndata: {\"download_url\": \"https://...\"}\n\n"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "The stream pool is saturated. Retry, or poll the job instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/jobs/cancel": {
      "post": {
        "operationId": "cancelJob",
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel a job",
        "description": "Rate limit: 30 requests per minute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobIdBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/check-failed": {
      "post": {
        "operationId": "checkFailedJobs",
        "tags": [
          "Jobs"
        ],
        "summary": "Check many jobs for failure in one call",
        "description": "Returns one boolean per submitted id, in the same order. Rate limit: 60 requests per minute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckFailedJobsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One boolean per job id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckFailedJobsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/transcribe": {
      "post": {
        "operationId": "transcribe",
        "tags": [
          "Transcribe"
        ],
        "summary": "Stream audio in, get the transcript back",
        "description": "Send the audio as the request body and receive an SSE stream that ends with the transcript. Use it from shells and simple scripts. For files over 200 MB, use an SDK, which uploads the file for you. Rate limit: 120 requests per minute.\n\nThe first event is `accepted`. It carries the `job_id` and a `download_url` and is sent immediately, so you can retrieve the job if your connection drops. The `X-Job-Id` response header carries the same id. Next come the job's `progress` events, as on the jobs stream. These are best effort: when the stream pool is saturated you get `waiting` heartbeats with an ETA instead. Then comes `completed` with `{\"download_url\": ...}`, and finally `transcript`, whose data is the result in the requested `output_type` (one `data:` line per line of output). A failed job ends with `failed`. If the wait limit is reached, the stream ends with `timeout`; if the result cannot be read back, it ends with `error`. Both carry `job_id` and `download_url`, so you can still fetch the result.",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Model"
            }
          },
          {
            "name": "output_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OutputType"
            }
          },
          {
            "name": "word_timestamps",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "speaker_labels",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "nltk",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Punctuation and sentence segmentation."
          },
          {
            "name": "custom_vocabulary",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Domain terms to bias recognition towards, as one comma-separated string.",
            "example": "Kubernetes,Grafana,Zephyr"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 639-1 code of the spoken language, from the 99 supported languages (e.g. `en`, `ru`, `de`). Omit it, or pass `auto`, for automatic language detection (the default), which also handles audio that switches language mid-file. When you set a language, detection is skipped and the whole file is transcribed in that language. Setting the wrong language translates the audio into it (Russian audio sent with `en` comes back as an English translation) and disables mid-file language switching. An unsupported code returns 422 with a message naming the bad value.",
            "example": "en"
          },
          {
            "name": "callback_url",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Webhook URL to POST to when the job completes or fails permanently."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The audio bytes.",
          "content": {
            "audio/mpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/wav": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mp4": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/ogg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/flac": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "video/mp4": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An event stream ending in the transcript.",
            "headers": {
              "X-Job-Id": {
                "description": "The job id, also sent in the `accepted` event.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: accepted\ndata: {\"job_id\": \"57dd9d88-...\", \"download_url\": \"https://...\", \"llm_download_url\": null, \"resume\": \"curl -H \\\"X-API-Key: $SPEECHREVOLUTIONS_API_KEY\\\" https://api.speechrevolutions.com/api/v1/jobs/57dd9d88-...\"}\n\nid: 1791179346392-0\nevent: completed\ndata: {\"download_url\": \"https://...\"}\n\nevent: transcript\ndata: {\"text\": \"Hi there\", \"words\": [...], ...}\n\n"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "An API key from the console, of the form `stt_` followed by 64 hex characters. Send it on every request. There is no OAuth flow and there are no scopes: a key has the full permissions of its account. Keep it on your server and never send it to a browser."
      }
    },
    "parameters": {
      "JobId": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "Status": {
        "description": "Accepted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "The request is valid but cannot be completed, for example completing an upload whose bytes never arrived.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, malformed or revoked API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "detail": "Unauthorized"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "The account is out of credit. Top up, or turn on auto-recharge, and retry. Reads and cancellations keep working.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "No such job for this account.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The file exceeds the limit for this route: 10 GB through the upload routes, 200 MB streaming to `/api/v1/transcribe`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "A field is missing or the wrong type. The body names the offending field.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "example": {
              "detail": [
                {
                  "type": "missing",
                  "loc": [
                    "header",
                    "X-API-Key"
                  ],
                  "msg": "Field required",
                  "input": null
                }
              ]
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests for this endpoint. Back off and retry; the official SDKs do this for you.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Model": {
        "type": "string",
        "enum": [
          "zephyr"
        ],
        "default": "zephyr",
        "description": "The transcription model. There is currently one."
      },
      "OutputType": {
        "type": "string",
        "enum": [
          "json",
          "txt",
          "srt",
          "vtt",
          "docx",
          "pdf"
        ],
        "default": "json",
        "description": "Format of the stored transcript at `download_url`."
      },
      "JobIdBody": {
        "type": "object",
        "required": [
          "job_id"
        ],
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "cancel_request_successful"
          }
        }
      },
      "GetJobResponse": {
        "type": "object",
        "required": [
          "job_id",
          "status"
        ],
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "failed"
            ]
          },
          "download_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Present once status is `completed`."
          },
          "llm_download_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "A second transcript refined by LLM post-processing. `null` unless the job requested LLM post-processing and the refined transcript exists."
          },
          "failed_stage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Which stage failed, when status is `failed`."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Why it failed, when status is `failed`."
          }
        }
      },
      "ListJobsResponse": {
        "type": "object",
        "required": [
          "jobs"
        ],
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "job_id",
                "created_at"
              ],
              "properties": {
                "job_id": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "next_before": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor for the next page, or null on the last page."
          }
        }
      },
      "CheckFailedJobsRequest": {
        "type": "object",
        "required": [
          "job_ids"
        ],
        "properties": {
          "job_ids": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "CheckFailedJobsResponse": {
        "type": "object",
        "required": [
          "failed_jobs"
        ],
        "properties": {
          "failed_jobs": {
            "type": "array",
            "items": {
              "type": "boolean"
            },
            "description": "One per submitted id, in the same order."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "loc": {
                  "type": "array",
                  "items": {
                    "type": [
                      "string",
                      "integer"
                    ]
                  }
                },
                "msg": {
                  "type": "string"
                },
                "input": {}
              }
            }
          }
        }
      }
    }
  }
}
